.hero-copy-rw {
  margin: 0 auto;
  // max-width: 760px;
  color: white;
  text-align: center;
  padding: 100px 0;
  h2 {
    font-size: 65px;
    margin: 25px 0 110px;
  }
  .btn {
    font-family: 'Oswald', sans-serif;
    border: 1px solid white;
    background-color: transparent;
    letter-spacing: .15em;
    color: white;
    padding: 10px 18px;
    border-radius: 0;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover,
    &:active {
      color: black;
      background-color: white;
    }
  }
}

.rw-wrapper{
  position: relative;
  margin: 90px auto 40px;
  padding: 20px;
}
.rw-sentence{
  margin: 0 auto;
  text-align: center;
}
.rw-sentence span{
  color: white;
  min-height: 55px;
  font-weight: 300;
}

.rw-words-1 div{
  position: absolute;
  // opacity: 0;
  overflow: hidden;
  color: white;
  padding: 0 0 20px;
  left: 50%;
  transform: translateX(-50%);
  span:first-child {
    opacity: 0;
    animation: rotateWord 9s ease-in-out infinite 0s;
  }
  span:last-child {
    opacity: 0;
    animation: rotateWordReverse 9s ease-in-out infinite 0s;
  }
}
.rw-words-1 div:nth-child(2) span { 
  animation-delay: 3s; 
}
.rw-words-1 div:nth-child(3) span { 
  animation-delay: 6s; 
}


@-webkit-keyframes rotateWordReverse {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(-30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWordReverse {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
  30% { opacity: 0; -ms-transform: translateY(-30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWordReverse {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
  30% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
  .rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
  .rw-sentence { font-size: 9px; }
}
